<h2 mat-dialog-title>Cargar Formatos</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
        <mat-form-field class="full-wid mrgn-b-lg ">
          <input type="text" matInput formControlName="name" class="form-control" placeholder="Nombre" required>
        </mat-form-field>
      </div>
    </div>
    
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
        <div class="full-wid mrgn-b-lg ">
          <input hidden type="file" #filegage (change)="onFileChange($event)" />
          <mat-form-field class="full-wid mrgn-b-lg ">
            <input matInput type="text" [(ngModel)]="nameDoc" [ngModelOptions]="{standalone: true}"
              placeholder="Documento" readonly required />
            <button class="btn btn-light btn-sm" (click)="filegage.click()" matSuffix>
              <i class="fas fa-file-upload kt-font-success mr-1 fa-lg" style="cursor: pointer"></i>Seleccionar
              archivo
            </button>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49"
        fxLayoutAlign="space-between end">
        <button color="accent" mat-button mat-raised-button [disabled]="!form.valid"
          (click)="onSubmit(form.value)">Añadir
        </button>
      </div>
    </div>
  </form>
  <div class="table-responsive tablemargin">
    <table mat-table [dataSource]="dataSource" class="">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{(i+1)}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> <a color="primary"
            href="{{this.downLoadFormat(element.file_format)}}">{{element.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element;let i = index">
          <mat-icon (click)="ondelete(element.id)" matTooltip="Eliminar" color="warn">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>