.uploadfilecontainer {
  background-image: url("assets/img/cloud-2044823_960_720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 225px;
  width: 100%;
  margin: 0px auto;
  border: 2px dashed rgb(128, 147, 160);
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #cbd3da !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 2px;
  color: #8897a1;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img{
  width:15px;
}

  $facebook: #1565c0;
  $twitter: #e53935;
  $google-plus: #00bcd4;
  $fa-linkedin: #4caf50;
  .user-socail-stats {
      margin-bottom: 1.5rem;
      ul {
          margin-top: 0.5rem;
          padding: 0;
      }
      li {
          display: inline-block;
          a:hover {
              cursor: pointer;
          }
          i {
              width: 30px;
              height: 30px;
              line-height: 30px;
              border-radius: 100%;
              color: #fff;
              text-align: center;
          }
          i.fa-facebook {
              background: $facebook
          }
          i.fa-twitter {
              background: $twitter
          }
          i.fa-google-plus {
              background: $google-plus
          }
          i.fa-linkedin {
              background: $fa-linkedin;
          }
      }
  }
  
  .user-contact-info {
      ul {
          list-style: none;
         
          margin: 0;
          li {
              margin-bottom: 1rem;
          }
      }
  }
  
  .contact-list {
      min-width: 180px;
      float: left;
  }
  
 

  @media(max-width:599px) {
      .user-contact-info ul {
          padding-left: 0;
      }
      .contact-list {
         min-width: 90px;
      }
  }