<div fxLayout="row wrap" fxLayoutAlign="start stretch" class="gene-form-wizard">
  <div div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card class="card-full-height card-full-width">
          <div class="user-content">
            <div class="pad-y-sm">
              <div fxLayout="row wrap" fxLayoutAlign="start" class="user-profile">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="user-contact-info">
                  <ul>
                    <li>
                      <div  fxLayout="row" >
                        <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line>Descripción : </span>
                        <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{task.description}} </span>
                      </div>
                    </li>
                    <li>
                      <div fxLayout="row" >
                        <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line>Fecha de Entrega : </span>
                        <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{task.end_date |date:"yyyy-MM-dd"}}</span>
                      </div>
                    </li>
                    <li>
                      <div fxLayout="row" >
                        <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line>Tiempo restante : </span>
                        <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{res}} Dias</span>
                      </div>
                    </li>
                    
                    <li>
                      <div fxLayout="row" >
                        <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line>Estado de la tarea : </span>
                        <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{task.status_task == '0' ? 'Sin iniciar' : (task.status_task == '1' ? 'En proceso' : (task.status_task == '2' ? 'Completado' : 'Revisado' ))}}</span>
                      </div>
                    </li>
                    <!--
                    <li>
                      <div fxLayout="row" >
                        <span class="mrgn-b-xs font-bold" fxFlex="170px" mat-line>Revisión : </span>
                        <span class="mrgn-b-xs" fxFlex="calc(100% - 170px)">{{task.status_review == 0 ? 'Sin revisar' : (task.status_review == 1? 'Rechazado': 'Aceptado')}}</span>
                      </div>
                    </li>-->
                  </ul>
                </div>
              </div>
            </div>      
          </div>     
      </mat-card>
  </div >

  <div div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card class="card-full-height card-full-width">
          <div class="user-content">
            <div class="pad-y-sm">
              <div fxLayout="row wrap" fxLayoutAlign="start" class="user-profile">
                <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="user-contact-info">
                  <ul>
                    <li>
                      <h4>Formatos</h4>
                    </li>
                    <div *ngFor="let item of listDocs">
                      <a class="primary-text" style="cursor: pointer"
                        href="{{downLoadFormat(item.file_format)}}"><small>{{item.name}}</small></a>
                    </div>
                  </ul>
                </div>
              </div>
            </div>     
          </div>  
      </mat-card>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%">
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h4>{{'Gestion de Tarea'}}</h4>
        </div> <span fxFlex></span>

        <!--   <button mat-icon-button color="accent" matTooltip="Herraientas" (click)="openTools()"
          style="margin-right: 20px;">
          <mat-icon>build</mat-icon>
        </button> -->
        <div *ngIf="checkStatusTask()">
          <button mat-raised-button (click)="closeTask()" color="primary">
              Terminar Tarea
          </button>
        </div>

        <div *ngIf="checkTypeTask()">
          <button mat-raised-button (click)="closeTaskReview()" color="primary">
              Cerrar Tarea
          </button>
        </div>

        <div *ngIf="!checkStatusTask()">
          <button mat-raised-button (click)="openTask()" color="primary">
              Abrir Tarea
          </button>
        </div>
              
      </div>

      <mat-divider></mat-divider>

    </div>

    <div class="gene-card-content">
      <!--Aqui verifico si esta en user que e spara subir documentos-->
      <div *ngIf="option == 'user'">
        <!--
        <mat-vertical-stepper [linear]="true" #stepper>
          <mat-step *ngFor="let item of listDocs ; let i = index">

            <ng-template matStepLabel>{{item.name}}</ng-template>

            <div class="full-wid mrgn-b-lg ">
              <input hidden type="file" #filegage (change)="onFileChange($event, i)" />
              <mat-form-field class="full-wid mrgn-b-lg " style="width: 300px">
                <input matInput type="text" [value]="nameList[i].name" placeholder="Documento" readonly required />
                <button class="btn btn-light btn-sm" (click)="filegage.click()" matSuffix>
                  <i class="fas fa-file-upload kt-font-success mr-1 fa-lg" style="cursor: pointer"></i>Seleccionar
                  archivo
                </button>
              </mat-form-field>
            </div>
            <mat-form-field class="full-wid mrgn-b-lg ">

              <textarea matInput placeholder="Descripción" name="" id="" cols="30" rows="5"
                [(ngModel)]="item.comment"></textarea>


            </mat-form-field>

            <mat-divider></mat-divider>
            <div>
              <button mat-raised-button (click)="updateDetail(item, i)" color="accent">Subir</button>
              <button mat-raised-button matStepperNext color="primary"
                [disabled]="!nameList[i].status">Siguiente</button>
            </div>

          </mat-step>
        </mat-vertical-stepper>-->


        
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50" class="user-contact-info">
          <h4>Subir Documentos</h4>
          <strong style="font-size: 10px;">Adjuntar Archivos: (max 5)</strong>
          <div class="uploadfilecontainer mt-2" (click)="fileInput.click()" appDragDrop
              (onFileDropped)="uploadFile($event)">
            <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
          </div>
          <br>
          <div *ngIf="checkDate()">
            <button mat-raised-button color="primary" (click)="onSaveDocuments()">
              <mat-icon>save</mat-icon>Guardar Documentos
            </button>
          </div>         
        </div>
        
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="50" class="user-contact-info">
          <br>
          <div class="files-list" *ngFor="let file of files;let i=index">
            <p>{{ file }}</p>
            <button class="delete-file" (click)="deleteAttachment(i)">
              <img src="assets/img/Recycle_Bin_Full.png">
            </button>
          </div>
          
        </div>

        
      </div>

      <br>
      <mat-divider></mat-divider>
      <br>
      <h4>{{option == 'owner'? 'Revisión de Documetos': 'Lista de Documentos'}}</h4>
      <div class="table-responsive">
        <table class="full-wid" mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Documento</th>
            <td mat-cell *matCellDef="let element">
              <div class="mat-text-muted">
                <a class="primary-text" style="cursor: pointer"
                  href="{{downLoadFormat(element.document)}}"><small>{{getName(element.document)}}</small></a>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              <div class="mat-text-muted">
                <span class="text-primary">
                  Sin revisar
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button style=" background:rgba(243, 243, 243, 0.89)" color="primary"
                [matMenuTriggerFor]="menu" [disabled]="option == 'user'">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon class="edit-icon" color="primary">edit</mat-icon>
                  <span>Aprobar</span>
                </button>
                <button mat-menu-item>
                  <mat-icon class="delete-icon" color="warn">delete</mat-icon>
                  <span>Rechazar</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </mat-card>
</div>