<mat-card class="mat-elevation-z8">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <div class="full-wid mrgn-b-lg">
                <button mat-raised-button (click)="openModal(null)">
                    <mat-icon color="accent">add</mat-icon>Nuevo proceso
                </button>
            </div>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <mat-form-field class="full-wid mrgn-b-lg">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
            </mat-form-field>
        </div>
    </div>

    <div class="table-responsive">

        <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="id_user">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Propietario </th>
                <td mat-cell *matCellDef="let element">
                    {{element.owner}}
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let element">
                    {{element.description}}
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" matTooltip="Ver proceso" (click)="openProcess(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>

                    <button mat-icon-button id="edit" color="accent" matTooltip="Editar proceso" (click)="openModal(element)" *ngIf="checkRole(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" matTooltip="Editar integrantes" (click)="openGesUsers(element)">
                        <mat-icon>supervised_user_circle</mat-icon>
                    </button>
                    <button mat-icon-button id="delete" color="warn" matTooltip="Eliminar proceso" (click)="onDelete(element)" *ngIf="checkRole(element)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

</mat-card>