<mat-card>

  <div class="gene-card-content">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100">
        <mat-form-field class="full-wid mrgn-b-md">
          <mat-select [(ngModel)]="this.filter.id_process" placeholder="Seleccione un proceso"
            (selectionChange)="getPhasesByProcess(this.filter.id_process)">
            <mat-option *ngFor="let item of comboProcess" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100">
        <mat-form-field class="full-wid mrgn-b-md">
          <mat-select [(ngModel)]="this.filter.id_phase" placeholder="Seleccione una fase">
            <mat-option *ngFor="let item of comboPhase" [value]="item.id">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100">
        <mat-form-field class="full-wid mrgn-b-md">
          <mat-select [(ngModel)]="this.filter.option" placeholder="Seleccione una opción" (selectionChange)="getTaskByphase()">
            <mat-option [value]="'user'">{{'A realizar'}}</mat-option>
            <mat-option [value]="'owner'">{{'A revisar'}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--
      <div fxFlex.gt-sm="24" fxFlex.gt-xs="24" fxFlex="100">
        <button mat-icon-button (click)="getTaskByphase()">
          <mat-icon aria-label="label">search</mat-icon>
        </button>
      </div>-->

    </div>
  </div>
</mat-card>

<div class="user-grid-list-wrap">
  <div fxLayout="row wrap">
    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="25" fxFlex.xl="25" *ngFor="let data of taskList">

      <mat-card>
        <div class="mrgn-b-md" fxLayoutAlign="space-between center">
          <div>
            <h4 class="margin-none">{{data.name}}</h4>
          </div>
        </div>

        <div class="mrgn-b-md" fxLayoutAlign="space-between center">
          <div>
            <h5 class="margin-none">Desripción: {{data.description}}</h5>
          </div>
          <div>
          </div>
        </div>

        <div class="mrgn-b-md"> 
          <h5 class="margin-none">Fecha de entrega: {{data.end_date | date:"yyyy-MM-dd"}}</h5>   
        </div>
        
        <div class="mrgn-b-md">
            <h5 class="margin-none">{{data.status_task == '0' ? 'Sin iniciar' : (data.status_task == '1' ? 'En proceso' : (data.status_task == '2' ? 'Completado' : 'Revisado' ))}}</h5>
          <mat-progress-bar mode="determinate" value="{{0}}"></mat-progress-bar>
        </div>

        <div class="text-center">
          <a class="primary-text" style="cursor: pointer" (click)="verTarea(data.id)"><small>Ver tarea</small></a>
        </div>

      </mat-card>
    </div>
  </div>
</div>