<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
      <div class="user-content">
        <div class="pad-y-sm">
          <div fxLayout="row wrap" fxLayoutAlign="start" class="user-profile">
            <div fxFlex.xl="49" fxFlex.lg="49" fxFlex.md="49" fxFlex.sm="49" fxFlex.xs="49" class="user-contact-info">
              <ul>
                
                <li>
                  <div class="contact-list">
                    <strong>Tipo de Curso</strong></div>
                  <span>: {{course.type}}</span>
                </li>
                <li>
                    <div class="contact-list">
                      <strong>Descripción</strong></div>
                    <span>: {{course.description}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div> 
      </div>
    </mat-card>
  </div>
<!--Competencias-->
<mat-card>
  <p>Competencias</p>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <div class="full-wid mrgn-b-lg">
        <button mat-raised-button (click)="openModal(null)">
          <mat-icon color="accent">add</mat-icon>Agregar Competencia
        </button>
        
      </div>
    </div>
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <mat-form-field class="full-wid mrgn-b-lg">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
      </mat-form-field>
    </div>
  </div>

  <div class="table-responsive">

    <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource" matSort
      class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element">
          {{element.name}}
        </td>
      </ng-container>
      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
        <td mat-cell *matCellDef="let element">
          {{element.reference}}
        </td>
      </ng-container>


      <!-- Change Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button color="accent" (click)="openModal(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

</mat-card>

<!--Rubricas-->
<mat-card>
    <p>Rúbricas</p>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <div class="full-wid mrgn-b-lg">
              <button mat-raised-button (click)="openModal(null)">
                <mat-icon color="accent">add</mat-icon>Exportar a csv
              </button>
              <button disabled mat-raised-button (click)="openModal(null)">
                <mat-icon color="accent">mail</mat-icon>Agregar rúbrica
              </button>
            </div>
        </div>
      
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <mat-form-field class="full-wid mrgn-b-lg">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
            </mat-form-field>
        </div>
    </div>
  
    <div class="table-responsive">
  
      <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSourceEvidence" matSort
        class="mat-elevation-z8">
  
        <ng-container matColumnDef="evidence">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Evidencia </th>
          <td mat-cell *matCellDef="let element">
            {{element.evidence}}
          </td>
        </ng-container>
        <ng-container matColumnDef="appearance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Aspectos </th>
          <td mat-cell *matCellDef="let element">
            {{element.appearance}}
          </td>
        </ng-container>
        <ng-container matColumnDef="criteria_general">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Criterio General</th>
            <td mat-cell *matCellDef="let element">
              {{element.criteria_general}}
            </td>
        </ng-container>
        <ng-container matColumnDef="criteria_course">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Criterio de Asignatura </th>
              <td mat-cell *matCellDef="let element">
                {{element.criteria_course}}
              </td>
        </ng-container>
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveles de Desempeño </th>
            <td mat-cell *matCellDef="let element">
              {{element.level}}
            </td>
        </ng-container>
  
  
        <!-- Change Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="Ver Evidencia" (click)="openModal(element)">
                <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button color="accent" (click)="openModal(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(element)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsRubric"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRubric;"></tr>
      </table>
    </div>
  
    <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>
  
  </mat-card>