<div class="gene-login login-v2 pad-y-xl">
   <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxFlex="100" fxFlex.xs="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
         <mat-toolbar-row fxLayoutAlign="space-between" fxLayout.xs="column" fxLayoutAlign.xs="center center"
            class="mrgn-x-md">
            <div class="mrgn-b-md">
               <img src="assets/img/mec.png">
            </div>

            <div class="mrgn-b-md" style="margin-top:20px;">
               <span class="mrgn-b-md">
                  <p class="text-center text-inverse"><span class="mrgn-r-sm">¿Aun no tienes una cuenta?</span><button
                        [routerLink]="['/session/register']" mat-raised-button color="accent">Registrate</button></p>
               </span>
            </div>   
         </mat-toolbar-row>
        
         <div fxLayout="row wrap" fxLayoutAlign="center center"
            class="height-full" fxLayoutGap.gt-md="15px">
            <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100"
               fxFlex.xl="100">
               <mat-card class="gene-login-v2 card-full-height card-full-width">
                  <div>
                     <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
                        <h2>Sistema de Control de Procesos</h2>
                     </div>
                     <form #form="ngForm" (ngSubmit)="onLogin(form)" fxLayoutAlign="center start">
                        <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="70"
                           fxFlex.xl="70" fxLayoutAlign="start">

                           <mat-form-field class="full-wid mrgn-b-md">
                              <input class="mrgn-t-none" matInput placeholder="Correo" type="text" name="email" required
                                 [(ngModel)]="username" #user="ngModel">
                              <span matSuffix><i class="material-icons">verified_user</i></span>
                              <mat-error class="md-errors-spacer" [hidden]="user.valid || user.untouched">
                                 <span *ngIf="user.errors && user.errors.required">
                                    Correo requerido
                                 </span>
                              </mat-error>
                           </mat-form-field>

                           <mat-form-field class="full-wid mrgn-b-md">
                              <input class="mrgn-t-none" matInput placeholder="Contraseña" type="password"
                                 name="password" required [(ngModel)]="password" #pass="ngModel">
                              <span matSuffix><i class="material-icons">vpn_key</i></span>
                              <mat-error class="md-errors-spacer" [hidden]="pass.valid || pass.untouched">
                                 <span *ngIf="pass.errors && pass.errors.required">
                                    Contraseña requerida
                                 </span>
                              </mat-error>
                           </mat-form-field>
                           <!--
                           <div class="mrgn-b-md"><a [routerLink]="['/session/forgot-passwordV2']">¿Olvidaste la
                                 contraseña?</a></div>-->
                           <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                              <button mat-flat-button class="success-bg gene-btn-lg"
                                 [disabled]="!form.valid">ENTRAR</button>
                           </div>
                           <!--
                           <div class="social-list" fxLayoutAlign="center start" fxLayoutGap="15px">
                              <button mat-fab color="primary" matTooltip="Facebook"
                                 aria-label="Button that displays a tooltip for social media link">f</button>
                              <button mat-fab color="warn" matTooltip="Google"
                                 aria-label="Button that displays a tooltip for social media link">G</button>
                              <button mat-fab color="accent" matTooltip="Twitter"
                                 aria-label="Button that displays a tooltip for social media link">t</button>
                              <button mat-fab color="warn" matTooltip="Gmail" aria-label="Button that displays a tooltip for social media link">g</button>
                           </div>-->
                        </div>
                     </form>
                  </div>
               </mat-card>
            </div>
         </div>
      </div>
   </div>
</div>