<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
    <div class="full-wid mrgn-b-lg">
      <h3 class="modal-title" id="exampleModalLabel">{{!this.id ? 'Nuevo' :
              'Editar'}}</h3>
    </div>
  </div>
</div>
<form [formGroup]="form">
  <div fxLayout="column">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">

        <mat-form-field class="full-wid mrgn-b-lg ">
          <input type="text" matInput formControlName="name" class="form-control" placeholder="Nombre" required>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">

        <mat-form-field class="full-wid mrgn-b-lg ">
          <textarea type="text" rows="3" matInput formControlName="description" class="form-control"
            placeholder="Descripción" required>
            </textarea>
        </mat-form-field>
      </div>

      <div *ngIf="id==null? true : false" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
        <mat-form-field class="full-wid mrgn-b-lg ">
          <mat-label>Buscar Usuario</mat-label>
          <input matInput [(ngModel)]="searchUser" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div *ngIf="id==null? true : false" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
        <div class="full-wid mrgn-b-lg ">
          <button mat-icon-button color="primary" (click)="onsearchUser()">
            <mat-icon aria-label="label">search</mat-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="box-inset pad-all-md mrgn-b-md">
      <h5 class="mrgn-b-md">Lista de Usuario</h5>
      <mat-list>
        <mat-list-item *ngFor="let item of this.form.value.user_list ; let i= index">
          <img mat-list-avatar src="assets/img/user.png">

          <h3 mat-line>{{item}}</h3>
          <div style="width: 80px; float:right" fxLayout="row" fxLayoutAlign="end center">
            <button [disabled]="id != null" mat-icon-button color="warn" (click)="deleteUsername(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
      <button class="btn-dialog-close" mat-raised-button (click)="onClose()" tabIndex="-1">
        <mat-icon color="accent"></mat-icon>Cancelar
      </button>
      <button color="accent" mat-button mat-raised-button [disabled]="!form.valid"
        (click)="onSubmit(form.value)">Guardar
      </button>
    </div>
    
  </div>
</form>