<mat-card class="mat-elevation-z8">
  <mat-tab-group>

    <mat-tab label="Criterios">
      <ms-criteria [id_processPadre]="id_process"></ms-criteria>
    </mat-tab>

    <mat-tab label="Indicadores">
      <ms-indicator></ms-indicator>
    </mat-tab>

    <mat-tab label="Fases">
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <div class="full-wid mrgn-b-lg">
              <button mat-raised-button (click)="openModal(null)" *ngIf="checkRole()">
                <mat-icon color="accent">add</mat-icon>Nuevo
              </button>
            </div>
          </div>
          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <mat-form-field class="full-wid mrgn-b-lg">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
            </mat-form-field>
          </div>
        </div>

        <div class="table-responsive">

          <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z8">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
              <td mat-cell *matCellDef="let element">
                {{element.description}}
              </td>
            </ng-container>

            <ng-container matColumnDef="status_phase">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado de avance </th>
              <td mat-cell *matCellDef="let element">
                {{element.status_phase}} %
              </td>
            </ng-container>

            <ng-container matColumnDef="create">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado </th>
              <td mat-cell *matCellDef="let element">
                {{element.created|date:"yyyy-MM-dd"}}
              </td>
            </ng-container>

            <ng-container matColumnDef="finished">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Finalizar</th>
              <td mat-cell *matCellDef="let element">
                {{element.finished}}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary"  matTooltip="Ver fase" (click)="openPhase(element)">
                  <mat-icon>visibility</mat-icon>
                </button>

                <button mat-icon-button color="accent" matTooltip="Editar fase" (click)="openModal(element)" *ngIf="checkRole()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Eliminar fase" (click)="onDelete(element)" *ngIf="checkRole()">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

      </mat-card>
    </mat-tab>

  </mat-tab-group>
</mat-card>