

<div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100"
   fxFlex.xl="180">

   <mat-toolbar-row fxLayoutAlign="space-between" fxLayout.xs="column" fxLayoutAlign.xs="center center" class="mrgn-x-md">
    <span class="mrgn-b-md">
      <p class="text-center text-inverse"><button
          (click)="logout()" mat-raised-button color="accent">Salir</button></p>
    </span>
    <span>Reinicie su sesión por seguridad</span>
  </mat-toolbar-row>

   <mat-card class="gene-login-v2 card-full-height card-full-width">
      <div>
         <div fxLayout="column" fxLayoutAlign="center center" class="mrgn-b-lg text-center">
            <h2>Sistema de Control de Procesos</h2>

         </div>
         <form #form="ngForm" (ngSubmit)="onLogin(form)" fxLayoutAlign="center start">
            <div fxLayout="column" fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="70"
               fxFlex.xl="70" fxLayoutAlign="start">
               <mat-form-field class="full-wid mrgn-b-md">
                  <input class="mrgn-t-none" matInput placeholder="Correo" type="text" name="email" required
                     [(ngModel)]="username">
                  <span matSuffix><i class="material-icons">verified_user</i></span>
               </mat-form-field>
               <mat-form-field class="full-wid mrgn-b-md">
                  <input class="mrgn-t-none" matInput placeholder="Contraseña" type="password"
                     name="password" required [(ngModel)]="password">
                  <span matSuffix><i class="material-icons">vpn_key</i></span>
               </mat-form-field>
               <div fxLayoutAlign="center start" class=" mrgn-b-lg">
                  <button mat-flat-button class="success-bg gene-btn-lg"
                     [disabled]="!form.valid">INICIAR SESION</button>
               </div>
            </div>
         </form>
      </div>
   </mat-card>
</div>
