<mat-card fxFlex="100%">
    <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
                <h4>Procesamiento de Notas</h4>
            </div> <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
        <form [formGroup]="form">
            <div fxLayout="column">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                      <div class="full-wid mrgn-b-lg ">
                        <input type="file" (change)="onArchivoSeleccionado($event)">
                      </div>
                    </div>
                </div>

                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                  <div><strong>Archivo</strong></div>
                  <button color="accent" mat-button mat-raised-button [disabled]="!form.valid"
                    (click)="onSubmit(form.value)">Enviar
                  </button>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div><strong>Promedio</strong></div>
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                      <div class="full-wid mrgn-b-lg ">
                        <input type="text">
                      </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </mat-card>
  