<div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
    <div class="full-wid mrgn-b-lg">
      <h3 class="modal-title" id="exampleModalLabel">Gestion de usuarios</h3>
    </div>
  </div>
</div>
<form>
  <div fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" fxFlex.gt-md="20">
        <mat-form-field class="full-wid mrgn-b-lg ">
          <mat-label>Buscar Usuario</mat-label>
          <input matInput [(ngModel)]="searchUser" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20" fxFlex.gt-md="20">
        <div class="full-wid mrgn-b-lg ">
          <button mat-icon-button color="primary" (click)="onsearchUser()">
            <mat-icon aria-label="label">search</mat-icon>
          </button>
        </div>
      </div>

    </div>


    <div class="box-inset pad-all-md mrgn-b-md">
      <h5 class="mrgn-b-md">Lista de Usuario</h5>

      <mat-list>
        <mat-list-item *ngFor="let message of listUsers">
          <img mat-list-avatar src="assets/img/user.png">


          <h3 mat-line>{{message.username}}</h3>

          <div style="width: 200px; float:right" fxLayout="row" fxLayoutAlign="end center">
            <mat-form-field>
              <mat-select [(ngModel)]="message.code" [ngModelOptions]="{standalone: true}" placeholder="Roles"
                (selectionChange)="onSetRolByUser(message)" [disabled]="message.code== 1">
                <mat-option *ngIf="message.code == 1" [value]="message.code">{{'Propietario'}}</mat-option>

                <mat-option *ngFor="let rol of this.listRoles" [value]="rol.code">
                  {{rol.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-icon-button color="warn" [disabled]="message.code == 1" (click)="deleteUser(message)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
      <button class="btn-dialog-close" mat-raised-button (click)="onClose()" tabIndex="-1">
        <mat-icon color="warn"></mat-icon>Cerrar
      </button>

    </div>
  </div>
</form>