<mat-card>


  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <div class="full-wid mrgn-b-lg">
        <button mat-raised-button (click)="openModal(null)">
          <mat-icon color="accent">add</mat-icon>Nuevo
        </button>
        <button disabled mat-raised-button (click)="closeFase()">
          <mat-icon color="accent">mail</mat-icon>Cerrar Fase
        </button>
      </div>
    </div>

    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <mat-form-field class="full-wid mrgn-b-lg">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
      </mat-form-field>
    </div>

    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <mat-form-field class="full-wid mrgn-b-lg ">
        <mat-label>Seleccione un Criterio</mat-label>
        <mat-select [(ngModel)]="id_criteria"
          (selectionChange)="selectIndicatorByCriterio()">
          <mat-option *ngFor="let element of criterias" [value]="element.id">{{element.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <mat-form-field class="full-wid mrgn-b-lg ">
        <mat-label>Seleccione un Indicador *</mat-label>
        <mat-select [(ngModel)]="id_indicator" (selectionChange)="getTasks()">
          <mat-option *ngFor="let element of indicators" [value]="element.id">{{element.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    
  </div>

  <div class="table-responsive">

    <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource" matSort
      class="mat-elevation-z8">

      <!-- CODE Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element">
          {{element.name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let element">
          {{element.description}}
        </td>
      </ng-container>
 
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
        <td mat-cell *matCellDef="let element">
          {{element.created | date:'yyyy-MM-dd'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin</th>
        <td mat-cell *matCellDef="let element">
          {{element.end_date | date:'yyyy-MM-dd'}}
        </td>
      </ng-container>

      <!--       <ng-container matColumnDef="create">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creado </th>
        <td mat-cell *matCellDef="let element">
          {{changeDate(element.created)}}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element">
          {{element.status_task == '0' ? 'Sin iniciar' : (element.status_task == '1' ? 'En proceso' : (element.status_task == '2' ? 'Completado' : 'Revisado' ))}} 
          
        </td>


      </ng-container>


      <!-- Change Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button color="accent" matTooltip="Editar tarea" (click)="openModal(element)" *ngIf="checkRole()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar tarea" (click)="onDelete(element)" *ngIf="checkRole()">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button mat-icon-button color="accent" matTooltip="Editar documentos adjuntos" (click)="openModalTask(element)" *ngIf="checkRole()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

</mat-card>