<mat-card class="mat-elevation-z8">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <div class="full-wid mrgn-b-lg">
                <button mat-raised-button (click)="openModal(null)">
                    <mat-icon color="accent">add</mat-icon>Agregar curso
                </button>
            </div>
        </div>
        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
            <mat-form-field class="full-wid mrgn-b-lg">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar ...">
            </mat-form-field>
        </div>
    </div>

    <div class="table-responsive">
       
        <table class="table table-hover table-middle th-fw-light mb-0" mat-table [dataSource]="dataSource" matSort
            class="mat-elevation-z8">

            <!-- ID Column -->
            <ng-container matColumnDef="curso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Curso </th>
                <td mat-cell *matCellDef="let element">
                    <!--                     <mat-form-field floatLabel="never">
                      <mat-select [(value)]="selected">
                          <mat-option value='selected'>{{selected}}</mat-option>
                          <mat-option *ngFor="let center of centers" value="center.WERKS">{{center.WERKS}}</mat-option>
                      </mat-select>
                  </mat-form-field> -->
                    {{element.course}}
                </td>
            </ng-container>

            <!-- CODE Column -->
            <ng-container matColumnDef="competencia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # Competencias </th>
                <td mat-cell *matCellDef="let element">
                    <!--                     <mat-form-field floatLabel="never">
                      <mat-select [(value)]="selected">
                          <mat-option value='selected'>{{selected}}</mat-option>
                          <mat-option *ngFor="let center of centers" value="center.WERKS">{{center.WERKS}}</mat-option>
                      </mat-select>
                  </mat-form-field> -->
                    {{element.competence}}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nivel </th>
                <td mat-cell *matCellDef="let element">
                    <!--                     <mat-form-field floatLabel="never">
                      <mat-select [(value)]="selected">
                          <mat-option value='selected'>{{selected}}</mat-option>
                          <mat-option *ngFor="let center of centers" value="center.WERKS">{{center.WERKS}}</mat-option>
                      </mat-select>
                  </mat-form-field> -->
                    {{element.type}}
                </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let element">
                    <!--                     <mat-form-field floatLabel="never">
                      <mat-select [(value)]="selected">
                          <mat-option value='selected'>{{selected}}</mat-option>
                          <mat-option *ngFor="let center of centers" value="center.WERKS">{{center.WERKS}}</mat-option>
                      </mat-select>
                  </mat-form-field> -->
                    {{element.description}}
                </td>
            </ng-container>


            <!-- Change Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" matTooltip="Ver curso" (click)="openCourse(element)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="openModal(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(element)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSize]="100" [pageSizeOptions]="[100, 200, 300, 400]" showFirstLastButtons></mat-paginator>

</mat-card>