<div class="gene-registration-form">
   <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex.xl="600px" fxFlex.lg="600px" fxFlex.md="600px" fxFlex.sm="600px" fxFlex.xs="100">
         <mat-card>
            <div>
               <div fxLayout="column" fxLayoutAlign="center center">
                  <div class="login-logo text-center">
                     <img src="assets/img/mecv2.png">
                     <h4>{{'Ingrese sus datos para su registro'}}</h4>
                  </div>
               </div>
               <form #form="ngForm" (ngSubmit)="register(form.value)">
                  <div fxLayout="column" fxLayoutAlign="start stretch">

                     <mat-form-field class="full-wid mrgn-b-sm">
                        <input matInput placeholder="Nombres" type="text" name="first_name" required
                           [(ngModel)]="first_name" #firstname="ngModel">
                        <mat-error class="md-errors-spacer" [hidden]="firstname.valid || firstname.untouched">
                           <span *ngIf="firstname.errors && firstname.errors.required">
                              Nombres Requeridos
                           </span>
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field class="full-wid mrgn-b-sm">
                        <input matInput placeholder="Apellidos" type="text" name="last_name" required
                           [(ngModel)]="last_name" #lastname="ngModel">
                        <mat-error class="md-errors-spacer" [hidden]="lastname.valid || lastname.untouched">
                           <span *ngIf="lastname.errors && lastname.errors.required">
                              Apellidos Requeridos
                           </span>
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field class="full-wid mrgn-b-sm">
                        <input matInput placeholder="Correo electronico" type="email" name="username" required
                           [(ngModel)]="username" #contactemail="ngModel"
                           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <mat-error class="md-errors-spacer" [hidden]="contactemail.valid || contactemail.untouched">
                           <span *ngIf="contactemail.errors && contactemail.errors.required">
                              Correo Requerido
                           </span>
                           <span *ngIf="contactemail.errors && contactemail.errors.pattern">
                              Correo invalido
                           </span>
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field class="full-wid mrgn-b-sm">
                        <input matInput placeholder="Contraseña" type="password" name="password" required
                           [(ngModel)]="password" #pass="ngModel">
                        <mat-error class="md-errors-spacer" [hidden]="pass.valid || pass.untouched">
                           <span *ngIf="pass.errors && pass.errors.required">
                              Contraseña requerida
                           </span>
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field class="full-wid mrgn-b-sm">
                        <input matInput placeholder="Confirmar Contraseña" type="password" name="password-confirm"
                           (change)="verificarContrasena()" required [(ngModel)]="passwordConfirm" #passConfirm="ngModel">
                        <mat-error class="md-errors-spacer" [hidden]="passConfirm.valid || passConfirm.untouched">
                           <span *ngIf="passConfirm.errors && passConfirm.errors.required">
                              Confirmar contraseña
                           </span>
                        </mat-error>
                     </mat-form-field>

                     <div fxLayout="row" fxLayoutAlign="start" class="mrgn-b-md">
                        <mat-checkbox>Acepto los <a href="" class="primary-text">{{'Terminos y condiciones'}}</a>
                        </mat-checkbox>
                     </div>
                     <button mat-raised-button [disabled]="!form.valid"
                        class="primary-bg mrgn-b-md">{{'CREAR CUENTA'}}</button>
                     <p>{{'¿Ya tienes una cuenta?'}} <a [routerLink]="['/session/loginV2']"
                           class="primary-text">{{'Ir al login'}}</a></p>
                  </div>
               </form>
            </div>
         </mat-card>
      </div>
   </div>
</div>