<!-- <div fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
    <div class="full-wid mrgn-b-lg">
      <h3 class="modal-title" id="exampleModalLabel">{{!this.id ? 'Nueva tarea' :
                'Editar'}}</h3>
    </div>
  </div>
</div> -->
<form>
  <div fxLayout="column">
    <mat-tab-group>
      <mat-tab label="Procesar Notas">

        <div fxLayout="column">

          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
              <div class="full-wid mrgn-b-lg ">

                <h3>Formatos</h3>
                <div>
                  <a class="primary-text" style="cursor: pointer"
                    href=""><small>{{'Notas sin procesar.xls'}}</small></a>
                </div>
              </div>
            </div>


          </div>


          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
              <input hidden type="file" #filegage (change)="onFileChange($event)" />
              <mat-form-field class="full-wid mrgn-b-lg ">
                <input matInput type="text" [(ngModel)]="nameDoc" [ngModelOptions]="{standalone: true}"
                  placeholder="Documento" readonly required />
                <button class="btn btn-light btn-sm" (click)="filegage.click()" matSuffix>
                  <i class="fas fa-file-upload kt-font-success mr-1 fa-lg" style="cursor: pointer"></i>Seleccionar
                  archivo
                </button>
              </mat-form-field>
            </div>
            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">

              <button mat-raised-button color="primary" style="float: right;">
                <mat-icon>cached</mat-icon> Procesar
              </button>

            </div>


          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
              <div class="full-wid mrgn-b-lg ">

                <h3>Descargar Resultado</h3>
                <div>
                  <a class="primary-text" style="cursor: pointer" href=""><small>{{'Notas Procesadas.xls'}}</small></a>
                </div>
              </div>
            </div>


          </div>

        </div>






      </mat-tab>



      <mat-tab label="Otro">Otro</mat-tab>
    </mat-tab-group>

    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
      <button class="btn-dialog-close" mat-raised-button (click)="onClose()" tabIndex="-1">
        <mat-icon color="accent">clear</mat-icon>Cerrar
      </button>
      <!--  <button color="accent" mat-button mat-raised-button [disabled]="!form.valid"
        (click)="onSubmit(form.value)">Guardar
      </button> -->
    </div>
  </div>

</form>