<div fxLayout="row wrap" fxLayoutAlign="start">
   <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
      <div class="user-content">
         <mat-card>
            <div class="pad-y-sm">
               <div fxLayout="row wrap" fxLayoutAlign="start" class="user-profile">
                  <div fxFlex.xl="300px" fxFlex.lg="300px" fxFlex.md="300px" fxFlex.sm="250px" fxFlex.xs="100">
                     <div class="mrgn-b-md">
                        <img class="img-responsive img-circle" src="assets/img/user.png" width="300" height="300"
                           alt="Foto del usuario">
                     </div>
                  </div>
                  <div fxFlex.xl="calc(100% - 300px)" fxFlex.lg="calc(100% - 300px)" fxFlex.md="calc(100% - 300px)"
                     fxFlex.sm="calc(100% - 250px)" fxFlex.xs="100" class="user-contact-info">
                     <ul>
                        <li style="float:right  ;">
                           <button mat-icon-button color="accent" (click)="openModal()">
                              <mat-icon>edit</mat-icon>
                           </button>
                        </li>
                     </ul>
                     <ul>
                        <li>
                           <h4>{{user.first_name}} {{user.last_name}}</h4>
                        </li>
                        <li>
                           <div class="contact-list"><i class="fa fa-envelope primary-text" aria-hidden="true"></i>
                              <strong>Correo</strong></div>
                           <a class="gene-block" href="#">: {{user.username}}</a>
                        </li>
                        <!-- <li>
                           <div class="contact-list"><strong>Nombres</strong></div>
                           <a class="gene-block" href="#">: {{user.first_name}}</a>
                        </li>
                        <li>
                           <div class="contact-list"><strong>Apellidos</strong></div>
                           <a class="gene-block" href="#">: {{user.last_name}}</a>
                        </li> -->
                        <!--
                        <li>
                           <div class="contact-list"><strong>Estado</strong></div>
                           <span>: {{status}}</span>-->
                           <!--span>: {{status}}</span-->
                        <!--</li>-->
                     </ul>
                  </div>
               </div>
               <!--div>
                  <h4>Procesos:</h4>
                  <p>
                     Descripción del usuario y lista de procesos a los que pertenece
                  </p>
                  <p class="mrgn-b-none">
                     Información sobre actividad del usuario en el sistema
                  </p>
               </div-->
            </div>
         </mat-card>
      </div>
   </div>
</div>