<mat-card class="mat-elevation-z8">

  <div fxLayout="column">

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" fxFlex.gt-md="60">

        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field >
              <mat-select [(ngModel)]="id_process" placeholder="Seleccione un proceso"
                (selectionChange)="getPhasesByProcess(id_process)">
                <mat-option *ngFor="let item of process" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
            <mat-form-field >
              <mat-select [(ngModel)]="id_phase" placeholder="Seleccione una fase">
                <mat-option *ngFor="let item of comboPhase" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

      </div>
      
      <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">

        <button mat-raised-button (click)="loadTasks()" [disabled]="id_process==''? true: false">
          Descargar
        </button>
      </div>
    </div>

  </div>


</mat-card>